<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="helene">

  <xacro:property name="mesh_scale" value="0.001 0.001 0.001" />
  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="use_ft_sensor" default="false" />
  
  <xacro:macro name="create_link" params="link_name mesh_file mass ixx iyy izz">
    <link name="${link_name}">
      <visual>
        <geometry>
          <mesh filename="package://hw_description/meshes/${mesh_file}" scale="${mesh_scale}"/>
        </geometry>
        <material name="gold">
          <color rgba="1 0.549 0 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://hw_description/meshes/${mesh_file}" scale="${mesh_scale}"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="${mass}"/>
        <inertia ixx="${ixx}" ixy="0.0" ixz="0.0" iyy="${iyy}" iyz="0.0" izz="${izz}"/>
      </inertial>
    </link>
  </xacro:macro>

  <link name="world" />
  <joint name="world_to_base_link" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <xacro:create_link link_name="base_link" mesh_file="Komponente1.stl" mass="2.0" ixx="0.01" iyy="0.01" izz="0.01" />
  <xacro:create_link link_name="axis_0"    mesh_file="Komponente2.stl" mass="1.5" ixx="0.01" iyy="0.01" izz="0.01" />
  <xacro:create_link link_name="axis_1"    mesh_file="Komponente3.stl" mass="1.2" ixx="0.01" iyy="0.01" izz="0.01" />
  <xacro:create_link link_name="axis_2"    mesh_file="Komponente4.stl" mass="1.0" ixx="0.01" iyy="0.01" izz="0.01" />
  <xacro:create_link link_name="axis_3"    mesh_file="Komponente5.stl" mass="0.8" ixx="0.005" iyy="0.005" izz="0.005" />
  <xacro:create_link link_name="axis_4"    mesh_file="Komponente6.stl" mass="0.6" ixx="0.005" iyy="0.005" izz="0.005" />
  <xacro:create_link link_name="axis_5"    mesh_file="Flansch.stl"     mass="0.3" ixx="0.001" iyy="0.001" izz="0.001" />

  <link name="axis_6">
    <visual>
      <geometry>
        <cylinder radius="0.004" length="0.06"/>
      </geometry>
      <origin xyz="0 0 0.03" rpy="0 0 0"/>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.004" length="0.06"/>
      </geometry>
      <origin xyz="0 0 0.03" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.06"/> <origin xyz="0 0 0.03" rpy="0 0 0"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>
  
  <joint name="q1" type="revolute">
    <parent link="base_link"/><child link="axis_0"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="1000.0" lower="-2.79" upper="2.79" velocity="0.5" /> </joint>

  <joint name="q2" type="revolute">
    <parent link="axis_0"/><child link="axis_1"/>
    <origin xyz="0.02 0 0.145" rpy="-1.571 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="1000.0" lower="-1.83" upper="1.83" velocity="0.5" /> </joint>

  <joint name="q3" type="revolute">
    <parent link="axis_1"/><child link="axis_2"/>
    <origin xyz="0 -0.200 0" rpy="0 0 3.141"/>
    <axis xyz="0 0 1"/>
    <limit effort="1000.0" lower="0" upper="2.7925" velocity="0.5" /> </joint>

  <joint name="q4" type="revolute">
    <parent link="axis_2"/><child link="axis_3"/>
    <origin xyz="0 0 0" rpy="-1.571 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="1000.0" lower="-2.9" upper="2.9" velocity="0.8" /> </joint>

  <joint name="q5" type="revolute">
    <parent link="axis_3"/><child link="axis_4"/>
    <origin xyz="0 0 0.177" rpy="1.571 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="1000.0" lower="-2.7" upper="2.7" velocity="0.8" />
  </joint>

  <joint name="q6" type="revolute">
    <parent link="axis_4"/><child link="axis_5"/>
    <origin xyz="0 0 0" rpy="-1.571 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="1000.0" lower="-3.141" upper="3.141" velocity="1.0" />
  </joint>
  
  <joint name="q7" type="fixed">
    <parent link="axis_5"/>
    <child link="axis_6"/>
    <origin xyz="0 0 0.05" rpy="0 0 0"/> 
  </joint>

  <ros2_control name="HeleneControl" type="system">
    <hardware>
        <xacro:if value="$(arg use_mock_hardware)">
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </xacro:if>
        <xacro:unless value="$(arg use_mock_hardware)">
            <plugin>controller_helene/HeleneHardwareInterface</plugin>
        </xacro:unless>
    </hardware>
    
    <xacro:macro name="configure_joint" params="joint_name">
      <joint name="${joint_name}">
        <command_interface name="velocity"/>
        
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </xacro:macro>

    <xacro:configure_joint joint_name="q1"/>
    <xacro:configure_joint joint_name="q2"/>
    <xacro:configure_joint joint_name="q3"/>
    <xacro:configure_joint joint_name="q4"/>
    <xacro:configure_joint joint_name="q5"/>
    <xacro:configure_joint joint_name="q6"/>
    
    <xacro:if value="$(arg use_ft_sensor)">
      <sensor name="tcp_force_torque_sensor">
        <state_interface name="force.x"/><state_interface name="force.y"/><state_interface name="force.z"/>
        <state_interface name="torque.x"/><state_interface name="torque.y"/><state_interface name="torque.z"/>
      </sensor>
    </xacro:if>

  </ros2_control>

  <gazebo>
    <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
      <parameters>$(find controller_helene)/config/helene_controllers.yaml</parameters>
      <ros>
        <namespace>/</namespace>
      </ros>
    </plugin>
  </gazebo>
  
  <xacro:if value="$(arg use_ft_sensor)">
    <gazebo reference="q7">
      <preserveFixedJoint>true</preserveFixedJoint>
      
      <sensor name="tcp_force_torque_sensor" type="force_torque">
        <always_on>true</always_on>
        <update_rate>500</update_rate>
        <topic>/force_torque_sensor</topic>
        <force_torque>
          <frame>child</frame>
          <measure_direction>child_to_parent</measure_direction>
        </force_torque>
      </sensor>
    </gazebo>
  </xacro:if>

  <gazebo reference="axis_6">
    <material>Gazebo/Grey</material>
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
    <kp>50000.0</kp>
    <kd>50.0</kd>
    <maxVel>0.01</maxVel>
    <minDepth>0.001</minDepth> 
  </gazebo>

</robot>